apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: express-ns
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5500
  type: ClusterIP
