apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: express-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: react
        image: dev126712/express-client:v4.0.7
        ports:
        - containerPort: 5173
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        securityContext:
          runAsNonRoot: false
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL

