apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: express-ns
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  selector:
    app: frontend
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5173
