name: K8s security scan
on:
  push: 
    branches: [ main ]
    paths:
      - 'k8s/**'

jobs:
  security-scan-manifest-files:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
    
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy (Table output for console)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'config'
          scan-ref: './k8s'
          format: 'table'
          exit-code: '0'
          severity: 'HIGH,CRITICAL'
    
